@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

:root {
  --clr-light-blue: 178 60% 48%;
  --clr-light-blue-hover: 178 75% 65%;
  --clr-orange: 39 88% 58%;
  --clr-orange-hover: 39 100% 69%;
  --clr-dark-navy: 202 32% 15%;
  --clr-navy: 199 35% 19%;
  --clr-silver: 198 23% 72%;
  --clr-silver-hover: 197 33% 89%;
  --box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(var(--clr-dark-navy));
}

/* global css */

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
