@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

:root {
  --clr-light-blue: hsl(178 60% 48%);
  --clr-light-blue-hover: hsl(178 75% 65%);
  --clr-orange: hsl(39 88% 58%);
  --clr-orange-hover: hsl(39 100% 69%);
  --clr-dark-navy: hsl(202 32% 15%);
  --clr-navy: hsl(199 35% 19%);
  --clr-silver: hsl(198 23% 72%);
  --clr-silver-hover: hsl(197 33% 89%);
  --box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--clr-dark-navy);
  text-align: center;
}

/* global css */

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* game-maun */
.game-maun {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 35%;
}

.select-card {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--clr-silver);
  border-radius: 15px;
  margin: 1.2rem;
  padding: 15px 30px;
  background: var(--clr-navy);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.9) 0px 7px 13px -3px, rgba(0, 0, 0, 6) 0px -3px 0px inset;
}

/* two button */
.button-two {
  margin: 1rem;
  padding: 2px 30px;
  border: 2px solid black;
  box-shadow: var(--clr-dark-navy) 0px 30px 60px -12px inset,
    var(--clr-dark-navy) 0px 30px 60px -12px inset;
  border: none;
  border-radius: 15px;
  gap: 1rem;
}

/* button holder start */
.buttonHolder {
  text-align: center;
  margin: 90px auto;
  width: 400px;
}

.button {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  float: left;
  height: 70px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 70px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.button:after {
  color: #e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.tick:after {
  content: "O";
  left: 23px;
  top: 16px;
}

.cross:after {
  content: "✖";
  left: 24px;
  top: 15px;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color: #0088cc;
}

.heart:hover:after {
  color: #f94e66;
  text-shadow: 0px 0px 6px #f94e66;
}

.flower:hover:after {
  color: #f99e4e;
  text-shadow: 0px 0px 6px #f99e4e;
}

.tick:hover:after {
  color: #83d244;
  text-shadow: 0px 0px 6px #83d244;
}

.cross:hover:after {
  color: #eb2f2f;
  text-shadow: 0px 0px 6px #eb2f2f;
}

.button:active {
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.button:active:after {
  color: #dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
/* Button holder end */

/* last button */
.last-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 2.5rem;
}

button {
  position: relative;
  width: 18em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--clr-silver);
  cursor: pointer;
}

#clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

button:hover #rightArrow {
  background-color: #27c39f;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
  background-color: #27c39f;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3em;
}

#leftBottom {
  top: 2.1em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #27c39f;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #27c39f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }

  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}
/* button section end */
